*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

.title {
    background-color: black;
    color: aliceblue;
    font-size: 40px;    
    width: 100%;
    height: auto;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content:center;
    padding: 20px;
}
main {
    position: absolute;
    top: 100px;
    z-index: -1; /* para que al hacer scroll no se superponga al titulo*/
}


/* AREA BOTONES */
.containerButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    /* BOTONES PARA ORDENAR */
    .btnOrderContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 50px;
    }
    .btnOrderContainer_type, .btnOrderContainer_num {
        max-width: 400px;
        border: 5px solid green;
        display: flex; /* para que el icono (ascendente/descendente) se ubique al costado*/
        align-items: center;
        justify-content: center;
        margin: 10px 20px;
        background-color: cadetblue;
    }
    .btn_sort {
        font-size: 20px;
        padding: 10px 15px;
        border: none;
        background-color: transparent;
    }
    .btnOrderContainer_imgToType, .btnOrderContainer_imgToNum {
        height: 20px;
        margin-right: 10px ;
    }
    .btnOrderContainer_imgToType img, .btnOrderContainer_imgToNum img {
        height: 100%;
    }

    /* BOTONES PARA FILTRAR */
    .btnFilterContainer {
        border: 5px solid black;
        background-color: darkcyan;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 20px;
        max-width: 200px;
    }
    .btn_filter {
        width: auto;
    }
    .type-select{
        border: none;
        background-color: darkcyan;
        font-size: 18px;
    }
    option {
        font-size: 18px;
    }
    .type-select:active{
        border: none;
    }

.containerCounter {
    font-size: 20px;
    text-align: center;
}

.containerPrincipal {
    display: flex;
    justify-content: center;
}

/* MOSTRAR TARJETAS */
.cardsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: fit-content;
}
.cardsContainer > div {
    border: 1px solid green;
    width: 190px;
    margin: 30px 20px;
}
.container-pokeImage{
    text-align: center;
}
.container-pokeImage img{
    width: 100%;
}
.container-pokeNum_Name, .container-pokeGeneration {
    display: flex;
    justify-content: space-between;
}
.pokeData{
    padding: 5px 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
h3, h5 {
    font-size: 15px;
}

.footer {
    background-color: black;
    color: aliceblue;
    font-size: 10px;    
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding: 10px;
}
.creditos {
    font-size: 10px;
    display: flex;
    justify-content: center;
}
.contact {
    display: flex;
    justify-content:center;
}
.contact > div {
    display: flex;
    align-items: center;
}
.logo_github {
    width: 20px;
    margin: 0px 5px;
}
.contact_connie::before{
    content: "||";
    padding: 0 10px;
}



/* MEDIA QUERY*/
@media screen and (min-width: 800px){
    .containerButtons {
        flex-direction: row;
        justify-content: space-between;
        margin: 0 100px;
    }
    .btnOrderContainer {
        flex-direction: row;
        justify-content:space-around;
        margin: 0;
    }
    .containerCounter {
        font-size: 30px;
    }
    .footer{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .footer, .creditos {
        font-size: 15px;
    }
    .contact_connie {
        flex-direction: row-reverse;
    }
    .contact_connie::before{
        content: " ";
    }
    .contact_connie::after{
        content: "||";
        padding: 0 10px;
    }
}



/* @media screen and (max-width: 800px){
    
} */

/* @media screen and (max-width: 480px){
    
    
} */