*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#cardsContainer{
    border: 1px solid red;    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#cardsContainer > div {
    /* border: 1px solid green; */
    margin: 10px;
}
#container-pokeImage{
    text-align: center;
}

#container-pokeNum_Name, #container-pokeGeneration {
    display: flex;
    justify-content: space-between;
}

.pokeData{
    border: 1px solid blue;
    padding: 5px 10px;
}

