*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#cardsContainer{
    border: 1px solid red;    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#cardsContainer > div {
    /* border: 1px solid green; */
    margin: 10px;
}
#container-pokeImage{
    text-align: center;
}

#container-pokeNum_Name, #container-pokeGeneration {
    display: flex;
    justify-content: space-between;
}

.pokeData{
    border: 1px solid blue;
    padding: 5px 10px;
}

#btnContainer {
    border: 1px solid blue;
    display: flex;
}
#btnContainer_type, #btnContainer_num {
    border: 1px solid green;
    display: flex;
    align-items: center;
}
#btnContainer_imgToType, #btnContainer_imgToNum {
    border: 1px solid red;
    height: 20px;
}
.btn_sort {
    height: 20px;
}
#btnContainer_imgToType img, #btnContainer_imgToNum img {
    height: 100%;
}

